html {
    padding: 0;
    margin: 0;
    background: #f5f5f5;
}

.container {
    max-width: 1000px;
    margin: auto;
}
.header{
    margin-bottom: 20px;
}
.add_question--button {
    padding: 10px;
    border: 1px solid #ff8552;
    color: #ff8552;
    background: transparent;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.add_question--button:hover {
    background-color: #ff8552;
    color: #000;
    transition: 0.3s;
}

.main {
    width: 50%;
    margin: 30px 0;
    display: none;
}

.main_addquestion {
    border: 1px solid #ff8552;
    padding: 20px;
    width: auto;
}


.question--textarea,
.anwser--textarea {
    width: 100%;
    font-size: 1.1rem;
}

.submitButton {
    width: 50%;
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 10px;
    background-color: transparent;
    border: 3px solid teal;
    color: teal;
    cursor: pointer;
}

.submitButton:hover {
    background-color: teal;
    color: #f5f5f5;
    transition: 0.3s;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
}
.close-addquestion {
    background-color: transparent;
    border: 2px solid teal;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}

.close-addquestion:hover{
    background-color: teal;
    color: white;
    transition: 0.3s;
}

.card{
    border: 1px solid gray;
    background-color: #fff;
    width: 300px;
    padding: 15px;
    border-radius: 0.25rem;
}

.card > p {
    margin: 10px;
    font-size: 1.3rem;
}

.card--buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.card--edit, .card--delete{
    padding: 10px;
    background-color: transparent;
    font-size: 1.3rem;
    border-radius: 0.25rem;
    font-weight: 400;
}

.card--edit{
    border: 3px solid teal;
    color: teal;
    cursor: pointer;
}
.card--edit:hover{
    background-color: teal;
    color: white;
    transition: 0.3s;
}

.card--delete{
    border: 3px solid #ff8552;
    color:#ff8552;
    cursor: pointer;
}

.card--delete:hover{
    background-color: #ff8552;
    color: #000;
    transition: 0.3s;
}

.item{
    display: none;
}

.show{
    display: block;
}

.toggle--item{
    background: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: blue;
}

.result{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media only screen and (max-width: 600px){
    .main_addquestion, .container, .main{
        width: 94%;
    }
    
}